.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #37517e;
}
.equalSign {
  margin-top: 10rem;
  margin-bottom: 10rem;
  font-size: 38rem;
  font-weight: 500;
  color: white;
}
.rate {
  font-size: 26rem;
  color: #fff;
}
